@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background-color: #ffff;
}

[data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}

.tilt-left {
  transform: rotate(-3deg);
}

.tilt-right {
  transform: rotate(3deg);
}

/* Technology image pop-up effect */
.spider-tech-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 10;
}

.spider-tech-image.visible {
  opacity: 1;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateZ(-50px) ;
  }
  to {
    opacity: 1;
    transform: translateZ(0)  ;
  }
}

.animated-header {
  /* Initial styles */
  opacity: 0;
  transform: translateZ(-50px)  ;
  animation: slideIn ease-in-out 1s forwards; /* 1s delay */
}
